@model CommandCenter.Models.UpdateSubscriptionViewModel
@{
    ViewData["Title"] = "All Offer Subscription";
}

<h1>Update Subscriptions</h1>

<hr />

<span class="text-danger">@Html.ValidationSummary(false)</span>

<form asp-action="UpdateSubscription">
    <div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DisplayNameFor(m => m.SubscriptionName)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(m => m.SubscriptionName)
            </div>
            <div class="col-sm-2">
                @Html.DisplayNameFor(m => m.SubscriptionId)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(m => m.SubscriptionId)
                <input asp-for="SubscriptionId" type="hidden" class="form-control" />
            </div>

            <div class="col-sm-2">
                @Html.DisplayNameFor(m => m.CurrentPlan)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(m => m.CurrentPlan)
            </div>

            <div class="col-sm-2">
                @Html.DisplayNameFor(m => m.AvailablePlans)
            </div>
            <div class="col-sm-10">
                @Html.DropDownListFor(m => m.AvailablePlans, new SelectList(Model.AvailablePlans, "PlanId", "DisplayName"), "Choose a new plan")
            </div>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary btn-block m-3">Submit</button>
    </div>
</form>